
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*  {
	font-family: Georgia, Serif;
	color: #00f068;
}


body {
/*	background-color:#B8BDBF;*/
    height: 100%;
}

.nav-title {
	font-family: Georgia, Serif;
}

h1 {
	font-family: Georgia, Serif; 
}

h3 {
	font-family: Georgia, Serif; 
}


a:link {
	text-decoration:none;
}

/*a {

}*/

.submit-new {
	margin-left:38px;
}

.link_list {
	font-family: Georgia, Serif;
}

.link_list li a {
	font-size: 30px;
	font-family: Georgia, Serif;
}

.link_list p a{
}
 
.link_list span a{
	font-size:12px;
	padding:2px;
}

.delete-comment{
	height:22px;
}
 .submit-new a {
 	font-family: Georgia, Serif;
 	margin-left: 7px;
 }


.comment-index-page {
  background: url(http://i.imgur.com/fUAh2ML.gif) no-repeat center center fixed; 
  background-size: cover;
}

.session-new-page {
  background: url(https://media.giphy.com/media/MWDLf1EIUsoNy/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}

.links-index-page {
  background: url(http://i.imgur.com/DKOpBoz.gif) no-repeat center center fixed; 
  background-size: cover;
}

.links-new-page {
  background: url(http://i.imgur.com/SqAsqlq.gif) no-repeat center center fixed; 
  background-size: cover;	
}

.register-new-page {
  background: url(https://camo.thechunk.net/e4122f452456bc7cc3646a59856a5a7d44b1a787?url=http%3A%2F%2Fstream1.gifsoup.com%2Fview3%2F4623171%2Fyou-re-one-of-us-o.gif) no-repeat center center fixed; 
  background-size: cover;	
}










/*h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}*/
